{% extends "inventarios/layout.html" %}

{% block title %}
      Ingreso Exitoso
{% endblock %}

{% block main %}
      <section id="b">
        {% if mensaje %}
                <div class="message">{{ mensaje }}</div>
                <br>
        {% endif %}
        <h2>Ingreso Exitoso</h2>
        <br><br>
        <!-- The following form is necesary to execute the action logout_view created in users/views.py -->
        <form action="{% url 'inventarios:salir' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Cerrar Sesión" class="logout" title="Log Out">
        </form>
      </section>   
{% endblock %}